@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?561kyn');
  src:  url('../fonts/icomoon.eot?561kyn#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?561kyn') format('truetype'),
    url('../fonts/icomoon.woff?561kyn') format('woff'),
    url('../fonts/icomoon.svg?561kyn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-enlarge2:before {
  content: "\e98b";
}
.icon-shrink2:before {
  content: "\e98c";
}
.icon-cancel-circle:before {
  content: "\ea0d";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-share:before {
  content: "\ea7d";
}
.icon-google:before {
  content: "\ea88";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-soundcloud:before {
  content: "\eac3";
}

